
    .App {
        width: 100%;
        height: 100%;
        background-image: url(images/bg-body.png);

      display: grid;
      grid-template-columns: 75px 35px repeat(12, 90px) 35px 75px;
      /*Отступ между коллонами*/
      grid-column-gap: 20px;
      /*Отступ между рядами*/
      grid-row-gap: 15px;
      grid-template-rows: repeat(100, 100px);
    }

    .header {
      grid-column-start: 2;
      grid-column-end: 17;
      grid-row-start: 1;
      grid-row-end: 2;
    }
      .banner {
          grid-column-start: 2;
          grid-column-end: 12;
          grid-row-start: 2;
          grid-row-end: 5;
      }

    .question{
      grid-column-start: 3;
      grid-column-end: 17;
      grid-row-start: 7;
      grid-row-end: 16;
    }
    .services{
        grid-column-start: 3;
        grid-column-end: 17;
        grid-row-start: 15;
        grid-row-end: 22;
    }
    .portfolio{
        grid-column-start: 3;
        grid-column-end: 15;
        grid-row-start: 23;
        grid-row-end: 31;
    }
    .contact{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 31;
        grid-row-end: 36;
    }

    .footer {
      grid-column-start: 1;
      grid-column-end: 14;
      grid-row-start: 35;
      grid-row-end: 40;
    }
    .test{
        display: grid;
        width: auto;
        height: auto;
        grid-column: 5/17;
        grid-row: 41/50;
    }

    .animation{
        grid-column-start: 2;
        grid-column-end: 16;
        grid-row-start: 51;
        grid-row-end: 56;
    }
    .image_carousel{
        grid-column-start: 2;
        grid-column-end: 16;
        grid-row-start: 56;
        grid-row-end: 59;
    }

.react-test-component{
    grid-column-start: 3;
    grid-column-end: 16;
    grid-row-start: 59;
    grid-row-end: 75;
    justify-self: start;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
